.input-container {
  margin: 1em auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.input-search_container {
  display: flex;
  justify-content: center;
  margin: 1em 2em;
  padding: 1em 1.5em;
  box-shadow: 0 9.5px 15px 1.5px #ddd;
  border-radius: 10px;
  max-width: 375px;
  cursor: pointer;
}
.input-search {
  margin-left: 2.5em;
  background-color: var(--veryLightGray);
  border: none;
}

.selector {
  width: 200px;
  max-width: 375px;
  margin: 2em 1em 2em 2em;
  padding: 1em 1.5em;
  box-shadow: 0 9.5px 15px 1.5px #ddd;
  border-radius: 10px;
  border: none;
}
.selector option {
  border: none;
}

@media (min-width: 1000px) {
  .input-container {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
/*aux*/

.darkMode {
  background: var(--veryDarkBlue);
  color: var(--white);
}
.darkSearch {
  box-shadow: var(--boxShadow1);
  background: var(--darkBlue);
  color: var(--white);
}
.darkSearch input {
  background: var(--darkBlue);
  border: none;
  color: var(--white);
}
.darkSearch select {
  color: var(--white);
}
