.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #39393d 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #52525a);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
.back-btn {
  display: flex;
  align-items: center;
  margin: 4em 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
}
.back-btn p {
  margin-left: 0.5em;
}
.img-flag {
  width: 90%;
  margin: 0.5em auto;
  border-radius: 0;
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em;
}
.country-info-1 {
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*aux*/
.marked {
  font-weight: 800;
}
