/*loading animation*/
.spinner {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #474bff;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
/**/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  display: flex;
  align-items: center;
  margin: 4em 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
}
.back-btn p {
  margin-left: 0.5em;
}
.img-flag {
  width: 300px;

  border-radius: 0;
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em;
}
.country-info-1 {
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.borders-countries-title {
  display: flex;
  margin-left: 0.5em;
  margin-bottom: 1em;
}
.border-countries {
  display: flex;
  margin-bottom: 3em;
}

.border-countries p {
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  border: 1px solid var(--veryLightGray);
  background-color: aliceblue;
}
@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.darkMode {
  background-color: var(--veryDarkBlue);
  color: var(--white);
}
.darkCountries p {
  background: var(--veryDarkBlue);
}
/*aux*/
.marked {
  font-weight: 800;
}
